/*------------------------SCROLL--------------------------------*/
::-webkit-scrollbar {
    width: 5px;
    left: 15px;
}

::-webkit-scrollbar-track {
    background: #212126;
}

::-webkit-scrollbar-thumb {
    background: yellow;

}


/*-----------------------------------------------------------*/



/*--------------------------SKILLS---------------------------------*/

.pads {
    padding-top: 50px;
}

.skillbar {
    height: 5px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #212126;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    height: 25px;
    position: absolute;
    top: -24px;
    left: 0;
    color: #ffffff;
}

.right_percent {
    float: right;
    margin-top: -35px;
}

.skillbar-title span {
    display: block;
    margin-top: -10px;
}

.skillbar-bar {
    height: 5px;
    width: 0px;
    background: yellow;
    border-right: 5px solid #16161A;
}

/*-----------------------------------------------------------*/






/*----------------------------------SERVICES-------------------------*/

.services {
    padding-top: 10px;
}
ul {
    list-style: none;
    /* Remove default bullets */
}

.skills li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: yellow;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -2em;
    /* Also needed for space (tweak if needed) */
}

/*-----------------------------------------------------------*/





/*----------------------HEADER---------------------------------*/

#lang_switcher {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 35px;
    color: yellow
}

#lang_switcher:hover {
    /*color: grey;*/
    opacity: 0.5
}

#contact_icons a {
    font-size: 25px;
    /*color: #8A8A0D;*/
    padding-right: 20px
}

#location {
    color: grey;
    position: absolute;
    top: 54px;
    right: 0;
    float: right;
}

#right_me i {
    /*position: absolute;*/
    color: black;
    font-size: 25px;
    /*left: 20px;*/
    /*bottom: 10px;*/   
}
#right_me {
    float: right;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    display: inline;
    background-color: yellow;
    color: black
}
/*-----------------------------------------------------------*/



#brder1 {
    border: 1px solid yellow;
    margin: auto;
    width: 50%;
}

body {
    background-color: #16161A;
    color: white;
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-size: 120%;*//*
    font-weight: 300*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p {
    font-size: 18px
}

/*h2,
h3,
h4,
h5,
h6*/
h2 {
    display: inline-block;
    /*padding: 5px 15px 5px 15px;*/
    font-style: italic;
    /*background-color: #212126;*/

}

h1 {
    /*white-space: nowrap;*/
    /*width: 100%;*/
    font-size: 45px;
    margin: 0;
    color: yellow;
    font-style: italic;

}

section {
    padding-top: 100px;
}

header {
    padding-top: 50px;
}

header p {
    padding-top: 20px
}

.personal-details {
    display: inline;
}

.personal-details small {
    color: yellow;
    font-size: 30px;
}

.subtitle {
    color: grey;
}

.name-wrapper span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300
}

.img-fluid {
    /*opacity: 0.8;*/
}


/*-------------------------------------reviews------------------*/

.carousel-inner .carousel-item {
    /*padding: 50px 70px 50px 70px;*/
    /*height: 250px; */
    padding: 10px 70px 50px 70px;
}

.review_img {
    /*display: block;*/
    display: inline;
    width: 50px;
    /*padding-right: 20px;*/
}

.checked {
  color: orange;
}

.carousel-control-prev, .carousel-control-next {
    /*position: absolute;*/
    /*top: 300px;*/
    width: 70px;
    /*height: 50px;*/
}

.review_author {
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;

    font-weight: 900;

    color: white;
}

.review_author:hover {
    color: white;
    opacity: 0.5;
    text-decoration: none;

}

.review_desc {
    color: grey;
    margin-bottom: 20px;
}

.review_right {
    float: right;
}

.review_right span {
    border: 1px solid yellow;
    border-radius: 5px;
    color: yellow;
    /*background-color: yellow;*/
    /*color: black;*/
    margin-left: 20px;
    padding: 4px 9px 4px 9px;
}

.carousel-item div {
    /*padding-left: 20px;*/
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}

#carouselExampleIndicators {
    min-height: 350px;
    padding-top: 10px;
}

@media screen and (max-width: 793px) {
  .hide_mob {
    visibility: hidden;
    display: : none;
  }
  .carousel-inner .carousel-item {
    padding: 10px 0 50px 0 !important;
    /*padding: 0;*/
  }
}

@media screen and (max-width: 575px) {
    header {
        padding-top: 15px;
    }
    h1 {
        font-size: 30px
    }
    #lang_switcher {
        /*position: inherit;*/
        /*display: block;*/
        /*width: 100%;*/
        /*float: left*/
    }
    .contact_me {
        width: 100%;
        /*padding-top: 20px;*/
        padding-left: 0
    }
    .col-lg  {
        /*padding-bottom: 100px*/
    }
}
@media screen and (max-width: 991px) {
    .hide_on_mob {
        display: none;
    }
    .show_on_mob {
        display: block !important;
        /*padding-bottom: 0px*/
    }
    .col-lg p {
        padding-top: 20px
    }
}

.show_on_mob {
    display: none;
}
.skills, .pads {
    /*font-size: 19px*/
}

.services {
    white-space: nowrap;
}
/*-------------------------------------------------------*/





/*------------------------------CONTACT ME-------------------------*/
.contact_me {
    float: right;
}

.btn {
    color: yellow;
    border: 1px solid yellow;
    border-radius: 5px;
    margin: 0px 15px 0 15px;
    /*font-size: 20px*/
}
.btn:hover {
    border: 1px solid yellow;
    background-color: yellow;
}
/*
.contact_me a {
    text-decoration: none;
    color: white;
    display: block
}

.contact_me a:hover {
    color: white;
    opacity: 0.5
}
*/


/*-------------------------------------------------------*/

.article .blog-img .link .read {
    display: table-cell;
    vertical-align: middle;
    color: yellow;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    position: relative;
}

.article .blog-img .link .read:after {
    position: absolute;
    top: 9px;
    /*left: 50px;*/
    content: '';
    background: yellow;
    width: 40px;
    height: 1px;
}

.article .blog-img:hover .overlay {
    opacity: 1;
}

.article .blog-img:hover .link {
    opacity: 1;
    bottom: 150px;
}

.article .blog-img:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.article .desc {
    position: relative;
    margin: 15px;
}

.article .desc .meta {
    color: #9da2a4;
    position: absolute;
    top: -40px;
    left: 20px;
    background: #16161A;
    color: white;
    padding: 5px 5px;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 4px;
    -webkit-transition: 1s;    
    /*font-family: 'Jura', sans-serif;*/

    /*font-weight: 600;*/

    letter-spacing: 1px;
    -o-transition: 1s;
    transition: 1s;
    -webkit-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
    -ms-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
    -o-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
}

.article .desc h2 {
    font-size: 28px;
}

.article .desc h2 a {
    text-decoration: none;
    color: yellow;
}

.article:hover .meta {
    background: #16161A;
    /*color: #9da2a4;*/
}


.article {
    display: block;
    margin-bottom: 60px;
    /*width: 85%;*/
    margin: 40px;
    border: 1px solid yellow;
}

.article .blog-img {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-item {
    padding: 0;    
 }

.article .blog-img img {
    position: relative;
    max-width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.article .blog-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.article .blog-img .link {
    position: absolute;
    bottom: 0;
    left: 90%;
    display: table;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}


p a, .review_desc a {
    color: yellow;
}

p a, .review_desc a:hover {
    color: yellow;
    opacity: 0.5
}

.pads, .services {
    font-size: 20px
}

a:hover {
    text-decoration: none;
}